/* Style for the mind map container */
.mind-map {
    font-family: Arial, sans-serif;
    padding-top: 3%;
}

.clickable-level-1{
    background-color: #3498db; /* Blue background color */
    color: #fff;
    border-radius: 10px;
    font-weight: bold;
    padding: 10px;
    margin: 3px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.clickable-level-1:hover{
    background-color: #0672b9 !important;
    background-color: #145581 !important;
}

.clickable-level-2{
    background-color: #2ecc71;
    color: #fff;
    border-radius: 8px;
    font-weight: bold;
    padding: 10px;
    margin: 3px;
    margin-left: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.clickable-level-2:hover{
    background-color:#02a747 !important;
}

.clickable-level-3{
    background-color: #e67e22; /* Orange background color */
    color: #fff; /* White text color */
    border-radius: 6px;
    font-weight: bold;
    padding: 6px;
    margin: 3px;
    margin-left: 40px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.clickable-level-3:hover{
    background-color:#d56503 !important;
}

/* div.level-2{
    display: none;
} */

